.nav {
  background-color: rgba(58, 60, 61, 0.096);
}

#main-title {
  font-size: 30px;
  margin-left: 20px;
}

#main-menu {
  font-size: 25px;
  margin-right: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 50px;
  height: 500px;
  width: 80vw;
  background-color: rgba(71, 69, 69, 0.11);
}

.board-table {
  margin-left: 40px;
  margin-right: 40px;
}

.table-col-style {
  font-weight: 600;
}
