@import url("http://fonts.googleapis.com/earlyaccess/hanna.css");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

.nav {
  font-family: "Hanna";
  margin-bottom: 1em;
  background-color: rgba(58, 60, 61, 0.096);
}

#main-title {
  font-size: 30px;
  margin-left: 25px;
}

#main-menu {
  font-size: 25px;
  margin-right: 20px;
}

.main-content {
  font-size: 30px;
}

.main {
  font-family: "Hanna";
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 50px;
  height: 500px;
  width: 80vw;
  background-color: rgba(71, 69, 69, 0.11);
}

.content-head {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

.head-font {
  display: inline-block;
  font-family: "Black Han Sans";
  font-weight: lighter;
  font-size: 50px;
}

.board-table {
  margin-left: 40px;
  margin-right: 40px;
}

.table-col-style {
  font-weight: 600;
}

.error-style {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  color: red;
}

.write-form {
  padding: 5%;
  padding-top: 2%;
  height: 95vh;
  margin: 10%;
  margin-left: 1vw;
  margin-top: 0px;
}

.contents {
  resize: none;
}

.write-head {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

.write-category {
  font-size: 25px;
  font-weight: 700;
}

.commit {
  display: inline-block;
  width: 5em;
  height: 3em;
}

.page {
  float: right;
}

.page-btn {
  display: inline-block;
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
  width: 75px;
  height: 50px;
  font-size: 15px;
}

.btn-font {
  font-weight: 600;
}
