<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>글수정 페이지</title>
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li id="main-title"><strong>Flask Bulletin Board</strong></li>
        <li><a href="/">메인</a></li>
        <li><a href="/board">게시판</a></li>
      </ul>
      <ul>
        <li id="main-menu">
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link">
              <strong>Menu</strong>
            </summary>
            <ul role="listbox">
              {% if user != "False" %}
              <li><a href="/logout">로그아웃</a></li>
              {% else %}
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              {% endif %}
            </ul>
          </details>
        </li>
      </ul>
    </nav>
    <form
      action="{{url_for('edit_action', p_id=post_id)}}"
      method="get"
      class="write-form"
    >
      <p class="write-head">글 수정</p>
      <span class="write-category">제목</span>
      <input type="text" name="title" id="title" placeholder="제목"
      value="{{p_detail["title"]}}" required />
      <span class="write-category">본문</span>
      <textarea name="contents" class="contents" rows="15" required>
{{p_detail["contents"]}}</textarea
      >
      <button class="commit btn-font">작성</button>
    </form>
  </body>
</html>
